<div class="row">
  <div class="col-auto">
    <h2>Welcome {{name}}! Please leave us a review for this album!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>You are leaving a review for {{album}}</h3>

<form>
     </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
<form class="form album-review">
      <div class="form-group">
        <label for="album-name">Album Name</label>
        <input class="form-input" type="text" id="project-name" name="album-name" />
      </div>
      <div class="form-group">
        <label for="artist-group">Artist</label>
        <input class="form-input" type="text" id="artist" name="artist" />
      </div>
      <div class="form-group">
        <label for="review">Review</label>review></textarea>
      </div>

    <h2>Album name</h2>

    <h2>Artist</h2>

    <h2>Write Your Review Here</h2>


<section class=“review”>
    <div class=“album-review”
        <ol>
            {{#each dbAlbumData as |album|}}
            <li>
            {{review.album}}
            </li>
            {{/each}}
        </ol>
    </div>
</section>

<script src="./js/profile.js"></script>

{{!-- album name, artist, review box, blank place holder --}}

