<h1>Albums</h1>

<section class="album">
  {{#each dbAlbumData as |album|}}
  <div class="album-details">
    <a href="/album/{{album.id}}"></a><a href="/album/{{album.id}}">{{album.album}}</a>
    <p>By: {{album.artist_name}}</p>
  </div>
    {{/each}}
</section>
