<h1>Albums</h1>

<section class="album">
  {{#each dbAlbumData as |album|}}
  <div class="album-details">
    <h3>{{album.album}}</h3>
    <p>By: {{album.artist_name}}</p>
  </div>
    {{/each}}
</section>
