<h1>Artist's Detail</h1>

<section class="artists">

  <div class="artist-name">
    

      
     <h2>Artist Name: {{artist_name}}</h2>
     {{#each Albums}}
       <h2>Album: {{this.album}}</h2>
     {{/each}}
      
  
    
</div>
</section>