<h1>Artist</h1>

<section class="artists">

  <div class="artist-name">
    <ol>
      {{#each dbArtistData as |artist|}}
      <li style="color:white">
      {{artist.artist_name}}
      </li>
      {{/each}}
    </ol>
</div>
</section>



{{!-- <script src="/artist.js"></script> --}}