

<section class="artists">

 

  <div class="artist-name">
    <h1>Artist</h1>
    <ol>
      {{#each dbArtistData as |artist|}}
      <li><span>
     <a href="/artist/{{artist.id}}">{{artist.artist_name}}</a>
      </span></li>
      {{/each}}
    </ol>
    
</div>
</section>



<script src="/artist.js"></script>