

<section class="artists">

  <div class="artist-name">
    

      <h3>Artist's Detail</h3>
     <h2>Artist Name: {{artist_name}}</h2>
     {{#each Albums}}
       <h1>Album: {{this.album}}</h1>
     {{/each}}
      
  
    
</div>
</section>