 
      <div class="container-6">
  <div class="card-6">
    <div class="contentBx">
      <div class="card-content">
          <h1 class="card-header">{{artist_name}}</h1>
          <p class="card-text">
             {{#each Albums}}</p>
       <h1>Album: {{this.album}}
     {{/each}}</h1>
      
     
      
      
    </div>
  </div>
</div>
      </div>
