<div>
  <div>
        <div  style='font-size: 22px; color: white'>
      <div>
        <div style="margin-bottom: 50px; ">
          <h4 style='font-size: 50px'>Profile:</h4>
        </div>
        <div>
          <div class='col-md-12'>
            <label class='labels'>Name:</label>
            <span class='font-weight-bold'>mohamed</span>
          </div>
        </div>
        <div>
          <div >
            <label class='labels'>Email Address:</label>
            <span>mohamed</span>
          </div>
        </div>

        <div>
          <button style="margin-top: 25px">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
