<div class="row">
  <div class="col-auto">
    <div class="album-name">
    <h2 class="album-name-review">{{dbAlbumData.album}}</h2>
  </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="artist-name-review">By:  {{dbAlbumData.artist_name}}</h3>

   <div class="container-4">
      <div class="post">
        <div class="text">Thanks for rating us!</div>
        <div class="edit">EDIT</div>
      </div>
      <div class="star-widget">
        <input type="radio" name="rate" id="rate-5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-1">
        <label for="rate-1" class="fas fa-star"></label>
        <input id="review-id" type="hidden" value="{{id}}"></input>
        <form action="#">
          <header></header>
          <div class="textarea">
            <textarea id="review-text" cols="30" placeholder="Describe your experience.."></textarea>
          </div>
          <div class="btn">
            <button id="submit-button"type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const btn = document.querySelector("button");
      const post = document.querySelector(".post");
      const widget = document.querySelector(".star-widget");
      const editBtn = document.querySelector(".edit");
      btn.onclick = ()=>{
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = ()=>{
          widget.style.display = "block";
          post.style.display = "none";
        }
        return false;
      }
    </script>

<div class="review">{{dbAlbumData.album_review}}</div>


<script src="/review.js"></script>
{{!-- album name, artist, review box, blank place holder --}}

