<div class="row">
  <div class="col-auto">
    <div class="album-name">
    <h2 class="album-name-review">{{dbAlbumData.album}}</h2>
  </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="artist-name-review">By:  {{dbAlbumData.artist_name}}</h3>

    <div class="col-md-6 review">
    <h3>Add Your Review</h3>
    </div>

<input type="text" id="review-text" placeholder="Please Review Here!">
<input type="button" id="submit-button" value="Submit Review">

<div class="review">{{dbAlbumData.album_review}}</div>


<script src="/review.js"></script>
{{!-- album name, artist, review box, blank place holder --}}

