* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;

  font-family: "Montserrat", sans-serif;
}

.sidebarz {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 196px;
  background-color: black;
  padding: 24px;
}

.sidebarz .logo img {
  width: 130px;
}

.sidebarz .navz ul {
  list-style: none;
  margin-top: 20px;
}

.sidebarz .navz ul li {
  padding: 10px 0px;
}

.sidebarz .navz ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.sidebarz .navz ul li a:hover,
.sidebarz .navz ul li a:active,
.sidebarz .navz ul li a:focus {
  color: #fff;
}

.sidebarz .navz ul li a:hover .fa,
.sidebarz .navz ul li a:active .fa,
.sidebarz .navz ul li a:focus .fa {
  color: #fff;
}

.sidebarz .navz ul li a:hover .fa:hover,
.sidebarz .navz ul li a:active .fa:active,
.sidebarz .navz ul li a:focus .fa:focus {
  color: #fff;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  display: fixed;
  justify-content: space-between;
  background-color: #101010;
  padding: 14px 30px;
}

.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.topbar .topnav {
  display: flex;
  align-items: center;
}

.topbar .topnav ul {
  list-style: none;
}

.topbar .topnav ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}

.topbar .topnav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .topnav ul li a:hover,
.topbar .topnav ul li a:active,
.topbar .topnav ul li a:focus {
  color: #fff;
  font-size: 15px;
}

.topbar .topnav ul li.divider {
  color: #fff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.topbar .topnav button {
  background-color: #ffff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .topnav button:hover,
.topbar .topnav button:active,
.topbar .topnav button:focus {
  background-color: #f2f2f2;
}

#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url(/images/background-image.jpg);
  color: whitesmoke;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}
#hero .info {
  position: relative;
  left: 300px;
}
#hero .info h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
#hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}
#hero .info a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: black;
}

.artists {
  color: white;
}

.homepage {
  padding-left: 300px;
}

.album {
  padding: 20px;
}

.album-details {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 5px;
}

.col-md-6 {
  color: white;
}

.logged-in {
    padding: 40px;
    justify-content: space-between;
    color: white;
}